![](../images/featuretools.png)

# Predicting Loan Repayment with Automated Feature Engineering in Featuretools

Feature engineering is the process of creating new features (also called predictors or explanatory variables) out of an existing dataset. Traditionally, this process is done by hand using domain knowledge to build new features one at a time. Feature engineering is crucial for a data science problem and a manual approach is time-consuming, tedious, error-prone, and must be re-done for each problem. Automated feature engineering aims to aid the data scientist in this critical process by automatically creating hundreds or thousands of new features from a set of related tables in a fraction of the time as the manual approach. In this notebook, we will apply automated feature engineering to the Home Credit Default Risk loan dataset using [Featuretools, an open-source Python library](https://www.featuretools.com/) for automated feature engineering. 

This problem is a machine learning competition on Kaggle where the objective is to predict if an applicant will default on a loan given comprehensive data on past loans and applicants. The data is spread across seven different tables making this an ideal problem for automated feature engineering: all of the data must be gathered into a single dataframe for training (and one for testing) with the aim of capturing as much usable information for the prediction problem as possible. As we will see, featuretools can efficiently carry out the tedious process of using all of these tables to make new features with only a few lines of code. Moreover, this code is generally applicable to any data science problem! 

The general idea of automated feature engineering is picture below:

![](../../images/AutomatedFeatureEngineering.png)


## Approach 

In this notebook, we will implement an automated feature engineering approach to the loan repayment problem. While Featuretools allows plenty of options for customization of the library to improve accuracy, we'll focus on a fairly high-level implementation.

Our approach will be as follows with the background covered as we go:

1. Read in the set of related data tables
2. Create a featuretools `EntitySet` and add `entities` to it 
    * Identify correct variable types as required
    * Identify indices in data
3. Add relationships between `entities`
4. Select feature primitives to use to create new features
    * Use basic set of primitives
    * Examine features that will be created
5. Run Deep Feature Synthesis to generate thousands of new features


## Problem and Dataset

The [Home Credit Default Risk competition](https://www.kaggle.com/c/home-credit-default-risk) currently running on Kaggle is a supervised classification task where the objective is to predict whether or not an applicant for a loan (known as a client) will default on the loan. The data comprises socio-economic indicators for the clients, loan specific financial information, and comprehensive data on previous loans at Home Credit (the institution sponsoring the competition) and other credit agencies. The metric for this competition is Receiver Operating Characteristic Area Under the Curve (ROC AUC) with predictions made in terms of the probability of default. We can evaluate our submissions both through cross-validation on the training data (for which we have the labels) or by submitting our test predictions to Kaggle to see where we place on the public leaderboard (which is calculated with only 10% of the testing data). 

The Home Credit Default Risk dataset ([available for download here](https://www.kaggle.com/c/home-credit-default-risk/data)) consists of seven related tables of data:

* application_train/application_test: the main training/testing data for each client at Home Credit. The information includes both socioeconomic indicators for the client and loan-specific characteristics. Each loan has its own row and is uniquely identified by the feature `SK_ID_CURR`. The training application data comes with the `TARGET` indicating 0: the loan was repaid or 1: the loan was not repaid. 
* bureau: data concerning client's previous credits from other financial institutions (not Home Credit). Each previous credit has its own row in bureau, but one client in the application data can have multiple previous credits. The previous credits are uniquely identified by the feature `SK_ID_BUREAU`.
* bureau_balance: monthly balance data about the credits in bureau. Each row has information for one month about a previous credit and a single previous credit can have multiple rows. This is linked backed to the bureau loan data by `SK_ID_BUREAU` (not unique in this dataframe).
* previous_application: previous applications for loans at Home Credit of clients who have loans in the application data. Each client in the application data can have multiple previous loans. Each previous application has one row in this dataframe and is uniquely identified by the feature `SK_ID_PREV`. 
* POS_CASH_BALANCE: monthly data about previous point of sale or cash loans from the previous loan data. Each row is one month of a previous point of sale or cash loan, and a single previous loan can have many rows. This is linked backed to the previous loan data by `SK_ID_PREV` (not unique in this dataframe).
* credit_card_balance: monthly data about previous credit cards loans from the previous loan data. Each row is one month of a credit card balance, and a single credit card can have many rows. This is linked backed to the previous loan data by `SK_ID_PREV` (not unique in this dataframe).
* installments_payment: payment history for previous loans at Home Credit. There is one row for every made payment and one row for every missed payment. This is linked backed to the previous loan data by `SK_ID_PREV` (not unique in this dataframe).

The image below shows the seven tables and the variables linking them:

![](../images/kaggle_home_credit/home_credit_data.png)

The variables that tie the tables together will be important to understand when it comes to adding `relationships` between entities. __The only domain knowledge we need for a full Featuretools approach to the problem is the indexes of the tables and the relationships between the tables.__

In [1]:
# pandas and numpy for data manipulation
import pandas as pd
import numpy as np

# featuretools for automated feature engineering
import featuretools as ft

### Read in Data

First we can read in the seven data tables. We also replace the anomalous values previously identified (we did the same process with manual feature engineering).

In [48]:
# Read in the datasets and replace the anomalous values
app_train = pd.read_csv('input/application_train.csv').replace({365243: np.nan})
app_test = pd.read_csv('input/application_test.csv').replace({365243: np.nan})
bureau = pd.read_csv('input/bureau.csv').replace({365243: np.nan})
bureau_balance = pd.read_csv('input/bureau_balance.csv').replace({365243: np.nan})
cash = pd.read_csv('input/POS_CASH_balance.csv').replace({365243: np.nan})
credit = pd.read_csv('input/credit_card_balance.csv').replace({365243: np.nan})
previous = pd.read_csv('input/previous_application.csv').replace({365243: np.nan})
installments = pd.read_csv('input/installments_payments.csv').replace({365243: np.nan})

We will join together the training and testing datasets to make sure we build the same features for each set. Later, after the feature matrix is built, we can separate out the two sets.

In [49]:
app_test['TARGET'] = np.nan

# Join together training and testing
app = pd.concat([app_train, app_test], ignore_index = True)
app = app.sort_index()

Several of the indexes are an incorrect data type (floats) so we need to make these all the same (integers) for adding relationships.

In [50]:
for index in ['SK_ID_CURR', 'SK_ID_PREV', 'SK_ID_BUREAU']:
    for dataset in [app, bureau, bureau_balance, cash, credit, previous, installments]:
        if index in list(dataset.columns):
            dataset[index] = dataset[index].fillna(0).astype(np.int64)

In [51]:
# app_train.to_csv('input/application_train.csv')
# app_test.to_csv('input/application_test.csv')
# bureau.to_csv('input/bureau.csv')
# bureau_balance.to_csv('input/bureau_balance.csv')
# cash.to_csv('input/POS_CASH_balance.csv')
# credit.to_csv('input/credit_card_balance.csv')
# previous.to_csv('input/previous_application.csv')
# installments.to_csv('input/installments_payments.csv')

# Featuretools Basics

[Featuretools](https://docs.featuretools.com/#minute-quick-start) is an open-source Python library for automatically creating features out of a set of related tables using a technique called [Deep Feature Synthesis](http://www.jmaxkanter.com/static/papers/DSAA_DSM_2015.pdf). Automated feature engineering, like many topics in machine learning, is a complex subject built upon a foundation of simpler ideas. By going through these ideas one at a time, we can build up our understanding of Featuretools which will later allow for us to get the most out of it.

There are a few concepts that we will cover along the way:

* [Entities and EntitySets](https://docs.featuretools.com/en/stable/loading_data/using_entitysets.html): our tables and a data structure for keeping track of them all
* [Relationships between tables](https://docs.featuretools.com/en/stable/loading_data/using_entitysets.html#adding-a-relationship): how the tables can be related to one another
* [Feature primitives](https://docs.featuretools.com/en/stable/automated_feature_engineering/primitives.html): aggregations and transformations that are stacked to build features
* [Deep feature synthesis](https://docs.featuretools.com/en/stable/automated_feature_engineering/afe.html): the method that uses feature primitives to generate thousands of new features

# Entities and Entitysets

An entity is simply a table or in Pandas, a `dataframe`. The observations must be in the rows and the features in the columns. An entity in featuretools must have a unique index where none of the elements are duplicated.  Currently, only `app`, `bureau`, and `previous` have unique indices (`SK_ID_CURR`, `SK_ID_BUREAU`, and `SK_ID_PREV` respectively). For the other dataframes, when we create entities from them, we must pass in `make_index = True` and then specify the name of the index. 

Entities can also have time indices that represent when the information in the row became known. (There are not datetimes in any of the data, but there are relative times, given in months or days, that could be treated as time variables, although we will not use them as time in this notebook).

An [EntitySet](https://docs.featuretools.com/en/stable/loading_data/using_entitysets.html) is a collection of tables and the relationships between them. This can be thought of a data structure with its own methods and attributes. Using an EntitySet allows us to group together multiple tables and will make creating the features much simpler than keeping track of individual tables and relationships. __EntitySets and entities are abstractions that can be applied to any dataset because they do not depend on the underlying data.__

First we'll make an empty entityset named clients to keep track of all the data.

### Variable Types

Featuretools will automatically infer the variable types. However, there may be some cases where we need to explicitly tell featuretools the variable type such as when a boolean variable is represented as an integer. Variable types in featuretools can be specified as a dictionary. 

We will first work with the `app` data to specify the proper variable types. To identify the `Boolean` variables that are recorded as numbers (1.0 or 0.0), we can iterate through the data and find any columns where there are only 2 unique values and the data type is numeric. We can also use the column definitions to find any other data types that should be identified, such as `Ordinal` variables. Identifying the correct variable types is important because Featuretools applies different operations to different data types (just as we do when manual feature engineering).

In [5]:
from autogluon.features.generators import AutoMLPipelineFeatureGenerator
g = AutoMLPipelineFeatureGenerator(post_generators=[], post_drop_duplicates=False)
g.fit_transform(app)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,100002,1.0,0,0,1,0,202500.0,406597.5,24700.5,351000.0,...,4,3,1,9,6,5,3,1,6,1
1,100003,0.0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,1,1,1,4,1,39,3,1,1,1
2,100004,0.0,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,4,3,1,9,1,11,0,0,0,0
3,100006,0.0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,...,4,0,1,9,6,5,0,0,0,0
4,100007,0.0,0,0,1,0,121500.0,513000.0,21865.5,513000.0,...,4,3,1,4,4,37,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,NaN,0,0,1,0,121500.0,412560.0,17473.5,270000.0,...,4,5,1,0,6,33,0,0,0,0
356251,456222,NaN,0,0,0,2,157500.0,622413.0,31909.5,495000.0,...,4,1,1,15,1,51,0,0,0,0
356252,456223,NaN,0,1,1,1,202500.0,315000.0,33205.5,315000.0,...,4,1,1,0,6,5,0,1,6,1
356253,456224,NaN,0,0,0,0,225000.0,450000.0,25128.0,450000.0,...,1,1,1,11,1,42,0,1,5,1
356254,456250,NaN,0,1,0,0,135000.0,312768.0,24709.5,270000.0,...,4,1,1,4,5,11,0,0,0,0

In [6]:
import json
json.dump(g.feature_metadata.to_dict(), open('test.json', 'w'))
print(g.feature_metadata)

('category', [])  : 13 | ['CODE_GENDER', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', ...]
('float', [])     : 67 | ['TARGET', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', ...]
('int', [])       :  7 | ['SK_ID_CURR', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_ID_PUBLISH', 'REGION_RATING_CLIENT', ...]
('int', ['bool']) : 35 | ['NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', ...]

In [7]:
import woodwork as ww

In [8]:
app.ww.init(name='app', index='SK_ID_CURR')
bureau.ww.init(name='bureau', index='SK_ID_BUREAU')
previous.ww.init(name='previous', index='SK_ID_PREV')

/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(

In addition to identifying Boolean variables, we want to make sure featuretools does not create nonsense features such as statistical aggregations (mean, max, etc.) of ids. The `credit`, `cash`, and `installments` data all have the `SK_ID_CURR` variable. However, we do not actually need this variable in these dataframes because we link them to `app` through the `previous` dataframe with the `SK_ID_PREV` variable. 

We don't want to make features from `SK_ID_CURR` since it is an arbitrary id and should have no predictive power. 
Our options to handle these variables is either to tell featuretools to ignore them, or to drop the features before including them in the entityset. We will take the latter approach.

In [9]:
assert len(app.columns) == len(g.feature_metadata.get_features())

In [10]:
[c for c in app.columns if c not in g.feature_metadata.get_features()]

[]

In [11]:
agfs = set(g.feature_metadata.get_features(required_raw_special_pairs=[('category', [])]))
wwfs = set(app.ww.select(['category']).columns)

[c for c in wwfs if c not in agfs]

['NAME_CONTRACT_TYPE']

In [12]:
g.feature_metadata.get_feature_type_raw('NAME_CONTRACT_TYPE'), g.feature_metadata.get_feature_types_special('NAME_CONTRACT_TYPE')

('int', ['bool'])

In [66]:
app.TARGET

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
356250    NaN
356251    NaN
356252    NaN
356253    NaN
356254    NaN
Name: TARGET, Length: 356255, dtype: float64

In [13]:
app['NAME_CONTRACT_TYPE'].value_counts()

NAME_CONTRACT_TYPE
Cash loans         326537
Revolving loans     29718
Name: count, dtype: int64

In [14]:
pd.DataFrame(app.ww._get_typing_info()).to_csv('test.csv')

In [15]:
installments = installments.drop(columns = ['SK_ID_CURR'])
credit = credit.drop(columns = ['SK_ID_CURR'])
cash = cash.drop(columns = ['SK_ID_CURR'])

In [16]:
ww.list_logical_types().to_csv('ww_logical.csv')
ww.list_semantic_tags().to_csv('ww_semantic.csv')

In [58]:
import pandas as pd
import woodwork

df = pd.DataFrame({"a": [1,2,3,4], 'b': [True, False, False,None],
                   'c': [15, 15, 12, 15,],
                   't': ['2023-01-01', '2019-01-23', '2021-12-12', '2022-12-11']})
df.t = pd.to_datetime(df.t)
g = AutoMLPipelineFeatureGenerator(post_generators=[], post_drop_duplicates=False)
g.fit_transform(df)
df.ww.init(name=None, logical_types={'c': 'Boolean', 'b': 'NaturalLanguage'})
df.ww.set_index('a')
print(df)
df.ww

   a      b     c          t
1  1   True  True 2023-01-01
2  2  False  True 2019-01-23
3  3  False  True 2021-12-12
4  4   <NA>  True 2022-12-11

         Physical Type     Logical Type Semantic Tag(s)
Column
a                int64          Integer       ['index']
b               string  NaturalLanguage              []
c                 bool          Boolean              []
t       datetime64[ns]         Datetime              []

In [61]:
from featuretools.entityset.entityset import _get_or_create_index
_, index, df = _get_or_create_index('dfasdasd', True, df)

In [64]:
df.ww.init(schema=df.ww.schema, index = 'dfasdasd')

df.ww

           Physical Type     Logical Type Semantic Tag(s)
Column
dfasdasd           int64          Integer       ['index']
df                 int64          Integer     ['numeric']
a                  int64          Integer     ['numeric']
b                 string  NaturalLanguage              []
c                   bool          Boolean              []
t         datetime64[ns]         Datetime              []

In [18]:
df.ww.set_types()

In [19]:
print(g.feature_metadata)

('category', [])             : 1 | ['b']
('int', [])                  : 1 | ['a']
('int', ['bool'])            : 1 | ['c']
('int', ['datetime_as_int']) : 5 | ['t', 't.year', 't.month', 't.day', 't.dayofweek']

In [20]:
from autogluon.common.features import types

In [21]:
print(g.feature_metadata.get_feature_types_special('b'))

[]

## Adding Entities

Now we define each entity, or table of data, and add it to the `EntitySet`. We need to pass in an index if the table has one or `make_index = True` if not. In the cases where we need to make an index, we must supply a name for the index. We also need to pass in the dictionary of variable types if there are any specific variables we should identify. The following code adds all seven tables to the `EntitySet`.

In [22]:
# Entity set with id applications
es = ft.EntitySet(id = 'clients')

In [23]:
# Entities with a unique index
es = es.add_dataframe(dataframe_name='app', dataframe = app, index = 'SK_ID_CURR')

es = es.add_dataframe(dataframe_name='bureau', dataframe = bureau, index = 'SK_ID_BUREAU')

es = es.add_dataframe(dataframe_name='previous', dataframe = previous, index = 'SK_ID_PREV')

# Entities that do not have a unique index
es = es.add_dataframe(dataframe_name='bureau_balance', dataframe = bureau_balance, 
                              make_index = True, index = 'bureaubalance_index')

es = es.add_dataframe(dataframe_name='cash', dataframe = cash, 
                              make_index = True, index = 'cash_index')

es = es.add_dataframe(dataframe_name='installments', dataframe = installments,
                              make_index = True, index = 'installments_index')

es = es.add_dataframe(dataframe_name='credit', dataframe = credit,
                              make_index = True, index = 'credit_index')

/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/entityset/entityset.py:754: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index
  warnings.warn(

/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/woodwork/type_sys/utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(

In [24]:
# Display entityset so far
es

Entityset: clients
  DataFrames:
    app [Rows: 356255, Columns: 122]
    bureau [Rows: 1716428, Columns: 17]
    previous [Rows: 1670214, Columns: 37]
    bureau_balance [Rows: 27299925, Columns: 4]
    cash [Rows: 10001358, Columns: 8]
    installments [Rows: 13605401, Columns: 8]
    credit [Rows: 3840312, Columns: 23]
  Relationships:
    No relationships

The `EntitySet` allows us to group together all of our tables as one data structure. This is much easier than manipulating the tables one at a time (as we have to do in manual feature engineering).

# Relationships

Relationships are a fundamental concept not only in featuretools, but in any relational database. The most common type of relationship is one-to-many. The best way to think of a one-to-many relationship is with the analogy of parent-to-child. A parent is a single individual, but can have mutliple children. In the context of tables, a parent table will have one row (observation) for every individual while a child table can have many observations for each parent.  In a _parent table_, each individual has a single row and is uniquely identified by an index (also called a key). Each individual in the parent table can have multiple rows in the _child table_. Things get a little more complicated because children tables can have children of their own, making these grandchildren of the original parent. 

As an example of a parent-to-child relationship, the `app` dataframe has one row for each client (identified by `SK_ID_CURR`) while the `bureau` dataframe has multiple previous loans for each client. Therefore, the `bureau` dataframe is the child of the `app` dataframe. The `bureau` dataframe in turn is the parent of `bureau_balance` because each loan has one row in `bureau` (identified by `SK_ID_BUREAU`) but multiple monthly records in `bureau_balance`. When we do manual feature engineering, keeping track of all these relationships is a massive time investment (and a potential source of error), but we can add these relationships to our `EntitySet` and let featuretools worry about keeping the tables straight!

In [25]:
print('Parent: app, Parent Variable of bureau: SK_ID_CURR\n\n', app.iloc[:, 111:115].head())
print('\nChild: bureau, Child Variable of app: SK_ID_CURR\n\n', bureau.iloc[:, :5].head())

Parent: app, Parent Variable of bureau: SK_ID_CURR

         FLAG_DOCUMENT_17  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20
100002                 0                 0                 0                 0
100003                 0                 0                 0                 0
100004                 0                 0                 0                 0
100006                 0                 0                 0                 0
100007                 0                 0                 0                 0

Child: bureau, Child Variable of app: SK_ID_CURR

          SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT
5714462      215354       5714462        Closed      currency 1         -497
5714463      215354       5714463        Active      currency 1         -208
5714464      215354       5714464        Active      currency 1         -203
5714465      215354       5714465        Active      currency 1         -203
5714466      215354       5714466        Active      currency 1         -629

The `SK_ID_CURR` 215354 has one row in the parent table and multiple rows in the child. 

Two tables are linked via a shared variable. The `app` and `bureau` dataframe are linked by the `SK_ID_CURR` variable while the `bureau` and `bureau_balance` dataframes are linked with the `SK_ID_BUREAU`. The linking variable is called the `parent` variable in the parent table and the `child` variable in the child table.

In [26]:
print('Parent: bureau, Parent Variable of bureau_balance: SK_ID_BUREAU\n\n', bureau.iloc[:, :5].head())
print('\nChild: bureau_balance, Child Variable of bureau: SK_ID_BUREAU\n\n', bureau_balance.head())

Parent: bureau, Parent Variable of bureau_balance: SK_ID_BUREAU

          SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT
5714462      215354       5714462        Closed      currency 1         -497
5714463      215354       5714463        Active      currency 1         -208
5714464      215354       5714464        Active      currency 1         -203
5714465      215354       5714465        Active      currency 1         -203
5714466      215354       5714466        Active      currency 1         -629

Child: bureau_balance, Child Variable of bureau: SK_ID_BUREAU

    bureaubalance_index  SK_ID_BUREAU  MONTHS_BALANCE STATUS
0                    0       5715448               0      C
1                    1       5715448              -1      C
2                    2       5715448              -2      C
3                    3       5715448              -3      C
4                    4       5715448              -4      C

Traditionally, we use the relationships between parents and children to aggregate data by grouping together all the children for a single parent and calculating statistics. For example, we might group together all the loans for a single client and calculate the average loan amount. This is straightforward, but can grow extremely tedious when we want to make hundreds of these features. Doing so one at a time is extremely inefficient especially because we end up re-writing much of the code over and over again and this code cannot be used for any different problem! 

Things get even worse when we have to aggregate the grandchildren because we have to use two steps: first aggregate at the parent level, and then at the grandparent level. Soon we will see that Featuretools can do this work automatically for us, generating thousands of features from __all__ of the data tables. When we did this manually it took about 15 minutes per feature so Featuretools potentially saves us hundreds of hours.

### Adding Relationships

Defining the relationships is straightforward using the diagram for the data tables. For each relationship, we need to first specify the parent variable and then the child variable. Altogether, there are a total of 6 relationships between the tables (counting the training and testing relationships as one). Below we specify these relationships and then add them to the EntitySet.

In [27]:
# Relationship between app_train and bureau
r_app_bureau = ('app', 'SK_ID_CURR', 'bureau', 'SK_ID_CURR',)

# Relationship between bureau and bureau balance
r_bureau_balance = ('bureau', 'SK_ID_BUREAU', 'bureau_balance', 'SK_ID_BUREAU',)

# Relationship between current app and previous apps
r_app_previous = ('app', 'SK_ID_CURR', 'previous', 'SK_ID_CURR',)

# Relationships between previous apps and cash, installments, and credit
r_previous_cash = ('previous', 'SK_ID_PREV', 'cash', 'SK_ID_PREV',)
r_previous_installments = ('previous', 'SK_ID_PREV', 'installments', 'SK_ID_PREV',)
r_previous_credit = ('previous', 'SK_ID_PREV', 'credit', 'SK_ID_PREV',)

In [28]:
# Add in the defined relationships
es = es.add_relationships([r_app_bureau, r_bureau_balance, r_app_previous,
                           r_previous_cash, r_previous_installments, r_previous_credit])
# Print out the EntitySet
es

Entityset: clients
  DataFrames:
    app [Rows: 356255, Columns: 122]
    bureau [Rows: 1716428, Columns: 17]
    previous [Rows: 1670214, Columns: 37]
    bureau_balance [Rows: 27299925, Columns: 4]
    cash [Rows: 10001358, Columns: 8]
    installments [Rows: 13605401, Columns: 8]
    credit [Rows: 3840312, Columns: 23]
  Relationships:
    bureau.SK_ID_CURR -> app.SK_ID_CURR
    bureau_balance.SK_ID_BUREAU -> bureau.SK_ID_BUREAU
    previous.SK_ID_CURR -> app.SK_ID_CURR
    cash.SK_ID_PREV -> previous.SK_ID_PREV
    installments.SK_ID_PREV -> previous.SK_ID_PREV
    credit.SK_ID_PREV -> previous.SK_ID_PREV

Again, we can see the benefits of using an `EntitySet` that is able to track all of the relationships for us. This allows us to work at a higher level of abstraction, thinking about the entire dataset rather than each individual table, greatly increasing our efficiency.

__Slightly advanced note__: we need to be careful to not create a [diamond graph](https://en.wikipedia.org/wiki/Diamond_graph) where there are multiple paths from a parent to a child. If we directly link `app` and `cash` via `SK_ID_CURR`; `previous` and `cash` via `SK_ID_PREV`; and `app` and `previous` via `SK_ID_CURR`, then we have created two paths from `app` to `cash`. This results in ambiguity, so the approach we have to take instead is to link `app` to `cash` through `previous`. We establish a relationship between `previous` (the parent) and `cash` (the child) using `SK_ID_PREV`. Then we establish a relationship between `app` (the parent) and `previous` (now the child) using `SK_ID_CURR`. Then featuretools will be able to create features on `app` derived from both `previous` and `cash` by stacking multiple primitives. 

If this doesn't make too much sense, then just remember to only include one path from a parent to any descendents. For example, link a grandparent to a grandchild through the parent instead of directly through a shared variable.

All entities in the entity can be linked through these relationships. In theory this allows us to calculate features for any of the entities, but in practice, we will only calculate features for the `app` dataframe since that will be used for training/testing. The end outcome will be a dataframe that has one row for each client in `app` with thousands of features for each individual. 

We are almost to the point where we can start creating thousands of features but we still have a few foundational topics to understand. The next building block to cover is feature primitives.

## Visualize EntitySet

In [29]:
es.plot()

# Feature Primitives

A [feature primitive](https://docs.featuretools.com/en/stable/automated_feature_engineering/primitives.html) is an operation applied to a table or a set of tables to create a feature. These represent simple calculations, many of which we already use in manual feature engineering, that can be stacked on top of each other to create complex deep features. Feature primitives fall into two categories:

* __Aggregation__: function that groups together children for each parent and calculates a statistic such as mean, min, max, or standard deviation across the children. An example is the maximum previous loan amount for each client. An aggregation covers multiple tables using relationships between tables.
* __Transformation__: an operation applied to one or more columns in a single table. An example would be taking the absolute value of a column, or finding the difference between two columns in one table.

A list of the available features primitives in featuretools can be viewed below.

In [30]:
# List the primitives in a dataframe
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 100

primitives[primitives['type'] == 'aggregation'].head(10)

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
0,n_unique_days,aggregation,False,False,Determines the number of unique days.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Integer) (Semantic Tags = ['numeric'])>
1,count_less_than,aggregation,False,False,Determines the number of values less than a controllable threshold.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Integer) (Semantic Tags = ['numeric'])>
2,max_consecutive_positives,aggregation,False,False,Determines the maximum number of consecutive positive values in the input,"<ColumnSchema (Logical Type = Integer)>, <ColumnSchema (Logical Type = Double)>",<ColumnSchema (Logical Type = Integer) (Semantic Tags = ['numeric'])>
3,num_consecutive_less_mean,aggregation,False,False,Determines the length of the longest subsequence below the mean.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = IntegerNullable) (Semantic Tags = ['numeric'])>
4,min_count,aggregation,False,False,Calculates the number of occurrences of the min value in a list,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = IntegerNullable) (Semantic Tags = ['numeric'])>
5,is_monotonically_decreasing,aggregation,False,False,Determines if a series is monotonically decreasing.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = BooleanNullable)>
6,is_monotonically_increasing,aggregation,False,False,Determines if a series is monotonically increasing.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = BooleanNullable)>
7,count_outside_nth_std,aggregation,False,False,Determines the number of observations that lie outside the first N standard deviations.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Integer) (Semantic Tags = ['numeric'])>
8,is_unique,aggregation,False,False,Determines whether or not a series of discrete is all unique.,<ColumnSchema (Semantic Tags = ['category'])>,<ColumnSchema (Logical Type = BooleanNullable)>
9,all,aggregation,True,False,Calculates if all values are 'True' in a list.,"<ColumnSchema (Logical Type = Boolean)>, <ColumnSchema (Logical Type = BooleanNullable)>",<ColumnSchema (Logical Type = Boolean)>

In [31]:
primitives[primitives['type'] == 'transform'].head(10)

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
65,haversine,transform,False,False,Calculates the approximate haversine distance between two LatLong columns.,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
66,diff_datetime,transform,False,False,Computes the timedelta between a datetime in a list and the previous datetime in that list.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Timedelta)>
67,year,transform,True,True,Determines the year value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 1..."
68,expanding_min,transform,False,False,Computes the expanding minimum of events over a given window.,"<ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['time_index'])>, <ColumnSchema (Semant...",<ColumnSchema (Semantic Tags = ['numeric'])>
69,hour,transform,True,True,Determines the hour value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16..."
70,lag,transform,False,False,Shifts an array of values by a specified number of periods.,"<ColumnSchema (Logical Type = Boolean)>, <ColumnSchema (Semantic Tags = ['time_index'])>, <Colum...",None
71,is_year_start,transform,True,True,Determines if a date falls on the start of a year.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
72,two_digit_postal_code,transform,True,True,Returns the two digit prefix of a given postal code.,<ColumnSchema (Logical Type = PostalCode)>,<ColumnSchema (Logical Type = Categorical) (Semantic Tags = ['category'])>
73,or,transform,True,True,Performs element-wise logical OR of two lists.,"<ColumnSchema (Logical Type = Boolean)>, <ColumnSchema (Logical Type = BooleanNullable)>",<ColumnSchema (Logical Type = BooleanNullable)>
74,url_to_protocol,transform,False,False,Determines the protocol (http or https) of a url.,<ColumnSchema (Logical Type = URL)>,<ColumnSchema (Logical Type = Categorical) (Semantic Tags = ['category'])>

# Deep Feature Synthesis

[Deep Feature Synthesis (DFS)](https://docs.featuretools.com/en/stable/automated_feature_engineering/afe.html) is the method Featuretools uses to make new features. DFS stacks feature primitives to form features with a "depth" equal to the number of primitives. For example, if we take the maximum value of a client's previous loans (say `MAX(previous.loan_amount)`), that is a "deep feature" with a depth of 1. To create a feature with a depth of two, we could stack primitives by taking the maximum value of a client's average monthly payments per previous loan (such as `MAX(previous(MEAN(installments.payment)))`). In manual feature engineering, this would require two separate groupings and aggregations and took more than 15 minutes to write the code per feature. 

Deep Feature Synthesis is an extremely powerful method that allows us to overcome our human limitations on time and creativity by building features that we would never be able to think of on our own (or would not have the patience to implement). Furthermore, DFS is applicable to any dataset with only very minor changes in syntax. In feature engineering, we generally apply the same functions to multiple datasets, but when we do it by hand, we have to re-write the code because it is problem-specific. Featuretools code can be applied to any dataset because it is written at a higher level of abstraction.

The [original paper on automated feature engineering using Deep Feature Synthesis](https://dai.lids.mit.edu/wp-content/uploads/2017/10/DSAA_DSM_2015.pdf) is worth a read if you want to understand the concepts at a deeper level.

To perform DFS in featuretools, we use the `dfs`  function passing it an `entityset`, the `target_entity` (where we want to make the features), the `agg_primitives` to use, the `trans_primitives` to use, the `max_depth` of the features, and a number of other arguments depending on our use case. There are also options for multi-processing with `njobs` and the information that is printed out with `verbose`. 

One other important argument is __`features_only`__. If we set this to `True`, `dfs` will only make the feature names and not calculate the actual values of the features (called the feature matrix). This is useful when we want to inspect the feature that will be created and we can also save the features to use with a different dataset (for example when we have training and testing data).

## Deep Feature Synthesis with Default Primitives

Without using any domain knowledge we can make thousands of features by using the default primitives in featuretools. This first call will use the default aggregation and transformation primitives,  a max depth of 2, and calculate primitives for the `app` entity. We will only generate the features themselves (the names and not the values) which we can save and inspect.

In [32]:
# Default primitives from featuretools
default_agg_primitives =  ["sum", "std", "max", "skew", "min", "mean", "count", "percent_true", "num_unique", "mode"]
default_trans_primitives =  ["day", "year", "month", "weekday", "haversine", "num_words", "num_characters"]

# DFS with specified primitives
feature_names = ft.dfs(entityset = es, target_dataframe_name = 'app',
                       trans_primitives = default_trans_primitives,
                       agg_primitives=default_agg_primitives, 
                       where_primitives = [], seed_features = [],
                       max_depth = 2, n_jobs = -1, verbose = 1,
                       features_only=True)

Built 2097 features

/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/synthesis/dfs.py:321: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  trans_primitives: ['day', 'haversine', 'month', 'num_characters', 'num_words', 'weekday', 'year']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible columns for the primitive were found in the data. If the DFS call contained multiple instances of a primitive in the list above, none of them were used.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

Even a basic call to deep feature synthesis gives us over 2000 features to work with. Granted, not all of these will be important, but this still represents hundreds of hours that we saved. Moreover, `dfs` might be able to find important features that we would never have thought of in the first place. 

We can look at the some of the feature names:

In [33]:
feature_names[1000:1020]

[<Feature: MEAN(previous.SUM(credit.AMT_DRAWINGS_POS_CURRENT))>,
 <Feature: MEAN(previous.SUM(credit.AMT_INST_MIN_REGULARITY))>,
 <Feature: MEAN(previous.SUM(credit.AMT_PAYMENT_CURRENT))>,
 <Feature: MEAN(previous.SUM(credit.AMT_PAYMENT_TOTAL_CURRENT))>,
 <Feature: MEAN(previous.SUM(credit.AMT_RECEIVABLE_PRINCIPAL))>,
 <Feature: MEAN(previous.SUM(credit.AMT_RECIVABLE))>,
 <Feature: MEAN(previous.SUM(credit.AMT_TOTAL_RECEIVABLE))>,
 <Feature: MEAN(previous.SUM(credit.CNT_DRAWINGS_ATM_CURRENT))>,
 <Feature: MEAN(previous.SUM(credit.CNT_DRAWINGS_CURRENT))>,
 <Feature: MEAN(previous.SUM(credit.CNT_DRAWINGS_OTHER_CURRENT))>,
 <Feature: MEAN(previous.SUM(credit.CNT_DRAWINGS_POS_CURRENT))>,
 <Feature: MEAN(previous.SUM(credit.CNT_INSTALMENT_MATURE_CUM))>,
 <Feature: MEAN(previous.SUM(credit.MONTHS_BALANCE))>,
 <Feature: MEAN(previous.SUM(credit.SK_DPD))>,
 <Feature: MEAN(previous.SUM(credit.SK_DPD_DEF))>,
 <Feature: MEAN(previous.SUM(installments.AMT_INSTALMENT))>,
 <Feature: MEAN(previous.SUM(installments.AMT_PAYMENT))>,
 <Feature: MEAN(previous.SUM(installments.DAYS_ENTRY_PAYMENT))>,
 <Feature: MEAN(previous.SUM(installments.DAYS_INSTALMENT))>,
 <Feature: MEAN(previous.SUM(installments.NUM_INSTALMENT_NUMBER))>]

Notice how featuretools stacks multiple primitives on top of each other. This one of the ideas behind Deep Feature Synthesis and automated feature engineering. Rather than having to do these groupings and aggregations by ourselves, Featuretools is able to handle it all using the framework (`entities`, `relationships`, and `primitives`) that we provide. We can also use Featuretools to expand on our domain knowledge.

# Building on Top of Domain Features

Featuretools will automatically build thousands of features for us, but that does not mean we can't use our own knowledge to improve the predictive performance. Featuretools is able to augment our domain knowledge by stacking additional features on top of our domain knowledge based features. We identified and created numerous useful features in the manual feature engineering notebook, based on our own knowledge and that of thousands of data scientists working on this problem on Kaggle. Rather than getting only one domain knowledge feature, we can effectively get dozens or even hundreds. __Here we'll explain the options for using domain knowledge, but we'll stick with the simple implementation of Featuretools for comparison purposes.__

For more information on any of these topics, see the [documentation](https://docs.featuretools.com/en/stable/guides/tuning_dfs.html) or the other notebooks in this repository. 

### Seed Features 

Seed features are domain features that we make in the data that Featuretools is then able to build on top of. For example, we saw that the rate of a loan is an important feature because a higher rate loan is likely more risky. In Featuretools, we can encode the loan rate (both for the current loan and for previous loans) as a seed feature and Featuretools will build additional explanatory variables on this domain knowledge wherever possible. 

### Interesting Values

Interesting values have a similar idea to seed features except they allow us to make conditional features. For example, we might want to find for each client the mean amount of previous loans that have been closed and the mean amount of previous loans that are still active. By specifying interesting values in `bureau` on the `CREDIT_ACTIVE` variable we can have Featuretools do exactly that! Carrying this out by hand would be extremely tedious and present numerous opportunities for errors.

### Custom Primitives

If we aren't satisfied with the primitives available to use in Featuretools, we can write our own functions to transform or aggregate the data. This is one of the most powerful capabilities in featuretools because it allows us to make very specific operations that can then be applied to multiple datasets. 

__In this notebook we concentrate on a basic implementation of Featuretools, but keep in mind these capabilities are available for optimizing the library and using domain knowledge!__

# Selecting Primitives

For our actual set of features, we will use a select group of primitives rather than just the defaults. This will generate over 2100 features to use for modeling.

In [34]:
# Specify primitives
agg_primitives =  ["sum", "max", "min", "mean", "count", "percent_true", "num_unique", "mode"]
trans_primitives = ['percentile', 'and']

In [35]:
# Deep feature synthesis 
feature_names = ft.dfs(entityset=es, target_dataframe_name='app',
                       agg_primitives = agg_primitives,
                       trans_primitives = trans_primitives,
                       n_jobs = -1, verbose = 1,
                       features_only = True,
                       max_depth = 2)

Built 1755 features

In [36]:
ft.save_features(feature_names, 'input/features.txt')

If we save the features, we can then use them with `calculate_feature_matrix`. This is useful when we want to apply the same features across datasets (such as if we have separate trainig/testing).

## Run Full Deep Feature Synthesis

If we are content with the features that will be built, we can run deep feature synthesis and create the feature matrix. The following call runs the full deep feature synthesis. This might take a long time depending on your machine. Featuretools does allow for parallel processing, but each core must be able to handle the entire entityset. 

__An actual run of this code was completed using Dask which can be seen in the [Featuretools on Dask notebook](https://github.com/Featuretools/Automated-Manual-Comparison/blob/master/Loan%20Repayment/notebooks/Featuretools%20on%20Dask.ipynb).__ The Dask code takes under 2 hours to run and is a great example of how we can use parallel processing to use our resouces in the most efficient manner.

In [37]:
import sys
print('Total size of entityset: {:.5f} gb.'.format(sys.getsizeof(es) / 1e9))

Total size of entityset: 4.15296 gb.

In [38]:
import psutil

print('Total number of cpus detected: {}.'.format(psutil.cpu_count()))
print('Total size of system memory: {:.5f} gb.'.format(psutil.virtual_memory().total / 1e9))

Total number of cpus detected: 12.
Total size of system memory: 24.92599 gb.

In [39]:
feature_matrix, feature_names = ft.dfs(entityset=es, target_dataframe_name='app',
                                       agg_primitives = agg_primitives,
                                       trans_primitives = trans_primitives,
                                       n_jobs = 1, verbose = 1, features_only = False,
                                       max_depth = 1, chunk_size = 100)

Built 392 features
Elapsed: 00:00 | Progress:   0%|

Elapsed: 00:02 | Progress:  56%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ

/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function mean at 0x7fa24090ee60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function amin at 0x7fa24090e440> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(to_agg)
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function amax at 0x7fa24090e290> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(to_agg)
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function sum at 0x7fa24090da20> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 01:48 | Progress:  72%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–

/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function mean at 0x7fa24090ee60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function amin at 0x7fa24090e440> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(to_agg)
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function amax at 0x7fa24090e290> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(to_agg)
/home/minhduck/Documents/projects/vnstock/venv/lib/python3.10/site-packages/featuretools/computational_backends/feature_set_calculator.py:829: FutureWarning: The provided callable <function sum at 0x7fa24090da20> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 13:23 | Progress: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ

In [46]:
len(app), len(app.columns)

(356255, 122)

In [47]:
print(list(feature_matrix.columns) == feature_names)

True

In [69]:
[f for f in app.columns if f not in feature_names]

[]

In [71]:
ft.list_primitives().to_csv('ft_primitives.csv')

In [43]:
pd.concat([app.copy(), feature_matrix], axis=1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,PERCENTILE(REG_REGION_NOT_LIVE_REGION),PERCENTILE(REG_REGION_NOT_WORK_REGION),PERCENTILE(TARGET),PERCENTILE(TOTALAREA_MODE),PERCENTILE(YEARS_BEGINEXPLUATATION_AVG),PERCENTILE(YEARS_BEGINEXPLUATATION_MEDI),PERCENTILE(YEARS_BEGINEXPLUATATION_MODE),PERCENTILE(YEARS_BUILD_AVG),PERCENTILE(YEARS_BUILD_MEDI),PERCENTILE(YEARS_BUILD_MODE)
100002,100002,1,Cash loans,M,False,True,0,202500.0,406597.5,24700.5,...,0.492177,0.474316,0.896748,0.116199,0.094693,0.094483,0.099797,0.076274,0.076174,0.079709
100003,100003,0,Cash loans,F,False,False,0,270000.0,1293502.5,35698.5,...,0.492177,0.474316,0.396748,0.523410,0.662232,0.661834,0.671567,0.650664,0.650468,0.658963
100004,100004,0,Revolving loans,M,True,True,0,67500.0,135000.0,6750.0,...,0.492177,0.474316,0.396748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100006,100006,0,Cash loans,F,False,True,0,135000.0,312682.5,29686.5,...,0.492177,0.474316,0.396748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100007,100007,0,Cash loans,M,False,True,0,121500.0,513000.0,21865.5,...,0.492177,0.474316,0.396748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,456221,<NA>,Cash loans,F,False,True,0,121500.0,412560.0,17473.5,...,0.492177,0.474316,0.896748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456222,456222,<NA>,Cash loans,F,False,False,2,157500.0,622413.0,31909.5,...,0.492177,0.474316,0.896748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456223,456223,<NA>,Cash loans,F,True,True,1,202500.0,315000.0,33205.5,...,0.492177,0.474316,0.896748,0.814255,0.947184,0.945396,0.946513,NaN,NaN,NaN
456224,456224,<NA>,Cash loans,M,False,False,0,225000.0,450000.0,25128.0,...,0.492177,0.974316,0.896748,0.864738,0.868677,0.868255,0.874847,NaN,NaN,NaN
456250,456250,<NA>,Cash loans,F,True,False,0,135000.0,312768.0,24709.5,...,0.492177,0.474316,0.896748,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# feature_matrix.reset_index(inplace = True)
# feature_matrix.to_csv('../input/feature_matrix.csv', index = False)

To download the feature matrix, head to https://www.kaggle.com/willkoehrsen/home-credit-default-risk-feature-tools and select the `feature_matrix_article.csv`. There are several other versions of automatically engineered feature matrices available there as well.

# Conclusions

In this notebook, we saw how to implement automated feature engineering for a data science problem. __Automated feature engineering allows us to create thousands of new features from a set of related data tables, significantly increasing our efficiency as data scientists.__ Moreover, we can still use domain knowledge in our features and even augment our domain knowledge by building on top of our own hand-built features. The main takeaways are:

* Automated feature engineering took 1 hour to implement compared to 10 hours for manual feature engineering
* Automated feature engineering built thousands of features in a few lines of code compared to dozens of lines of code per feature for manual engineering.
* Overall, performance of the automated features are comparable or better than those of the manual features (see the Results notebook)

The benefits of automated feature engineering are significant and will considerably help us in our role as data scientists. It won't alleviate the need for data scientists, but rather will make us more efficient and build better predictive pipelines in less time.

## Next Steps

After creating a full set of features, we can apply feature selection and then proceed with modeling. To optimize the model for the features, we use random search for 100 iterations over a grid of hyperparamters. To see how to use Dask to run Featuretools in parallel, refer to the Featuretools Implementation with Dask notebook. For feature selection refer to the Feature Selection notebook. Final results are presented in the Results notebook.

<p>
    <img src="https://www.featurelabs.com/wp-content/uploads/2017/12/logo.png" alt="Featuretools" />
</p>

Featuretools was created by the developers at [Feature Labs](https://www.featurelabs.com/). If building impactful data science pipelines is important to you or your business, please [get in touch](https://www.featurelabs.com/contact).